.popup-content {
    margin: auto;
    background: rgb(255, 255, 255);
    width: 50%;
    padding: 5px;
    position: relative;
}

.popup-arrow {
    color: rgb(255, 255, 255);
}

[role='tooltip'].popup-content {
    width: 200px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 3px;
}

.popup-overlay {
    background: rgba(0, 0, 0, 0.5);
}

[data-popup='tooltip'].popup-overlay {
    background: transparent;
}

.popup-content .close {
    cursor: pointer;
    display: block;
    position: absolute;
    right: 10px;
    top: 5px;
    font-size: 2rem;
    color: black;
}

.popup-content .note {
    margin: 1rem 0;
    padding: 1rem;
}