.App {
  font-family: sans-serif;
  text-align: center;
  height: 100%;
}

.mapboxgl-canvas {
  left: 0;
}

body {
  height: 100vh;
}

#root {
  height: 100%;
}

#tooltip {
  position: absolute; 
  margin: 10px; 
  padding: 10px;
  font-family: sans-serif;
  width: 12vw;
  padding: .6rem;
  color: white;
  display: none;
  background: rgba(0,0,0,0.5);
}

#tooltip p{
  margin: 0;
  text-transform: capitalize;
  
  color: white;
}

.menu{
  width: 20vw;
  background: white;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}

.menu .menu-list{
  list-style: none;
  text-align: left;
  padding: 0;
}


.accordion {
  max-width: 600px;
  margin: 2rem auto;
}

.accordion-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
  background-color: white;
  border-bottom: 1px solid rgba(0,0,0,0.5);
}

.accordion-title:hover {
  background-color: white;
}

.accordion-title,
.accordion-content {
  padding: .6rem;
}

.accordion-content {
  background-color: white;
}

@media screen and (max-width: 700px) {
  body {
    font-size: 18px;
  }

  .accordion {
    width: 90%;
  }
}